name: Trip Comparison CI/CD

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 * * * *'  # every hour

jobs:
  compare-trips:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run comparison script
      run: python Data_analysis.py
      
    - name: Verify Log File Exists
      run: |
             pwd
             ls -la logs/
             
    - name: Upload log file
      uses: actions/upload-artifact@v4
      with:
        name: trip-comparison-log
        path: trip_comparison.log
